.boxstyle{

  border-radius: 25px;
  /*width: 200px;*/
  height: 250px;
  padding: 1rem 3rem 1rem 1.5rem;
  opacity: 1;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #e2e2e214, #c9d6ff0d);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #e2e2e214, #c9d6ff0d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-box-shadow: 1px 0px 9px 0px rgba(105, 94, 105, 0.33);
  -moz-box-shadow: 1px 0px 9px 0px rgba(105, 94, 105, 0.33);
  box-shadow: 1px 0px 9px 0px rgba(105, 94, 105, 0.33);
}
.formStyle{
  margin-left: 36em;
  margin-top: 11em;
}
